#socials {
	display: flex;
	text-align: center;
	align-self: center;
	flex-direction: column;
	margin: auto;
	width: clamp(15rem, 20%, 40rem);
	gap: 3rem;
	padding: 2rem;
}

@media (min-aspect-ratio: 1.2/1) {
  #socials {
    flex-direction: row;
    width: 80%;
  }

  .socialMedia {
  	width: 33%;
  	aspect-ratio: 1/1.2;
  }
}

.socialMedia {
	display: flex;
	flex-direction: column;
	aspect-ratio: 1/1.2;
	align-items: center;
	justify-content:center;
	border-style: solid;
	border-radius: 5%;
	box-shadow: 0.5rem 0.5rem;
}

.socialMedia img {
	width: 60%;
}


