html, body {
      font-family: system-ui, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-size: 2vmin;
      background: white;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header {
  z-index: 900;
  position: sticky;
  top: 0;
  background: black;
  color: #fff;
  padding: 0 5vw;
  margin: 0;
  text-align: center;
  overflow: auto;
  transition:0.2s all ease;
}

.smallerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.8rem;
  padding-top: 1rem;
}

/*@media (max-width: 800px) {
  .smallerHeader {
    flex-direction: column;
  }
}*/

header:hover{
  box-shadow: 0px 0px 2vw rgba(0,0,0,0.5);
}

header h1 { 
  font-size: 2.5rem;
  padding: 0.8em 0 0.4em 0;
  margin: 0;
}

.smallerHeader h1 {
  font-size: clamp(1.8rem, 10vw - 6rem, 2.3rem);
  padding: 0;
  margin: 0;
}

header nav {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 1em;
}


header button {
  position: relative;
  border-radius:0.4em;
  position:relative;
  background:rgba(255,255,255,0); 
  padding: 0.5em;
  margin: 0 0 0.35em 0;
  width: 8em;
  box-shadow:0px 0px 0px 0px #B8B8B8;
  
  font-size : clamp(1.4rem, 1vw + 0.5vh, 2rem);
  font-weight: 300;
  color:#777;

  cursor:pointer;
  transition:0.1s all ease;

  border-style: solid;
  border-color: transparent;
  border-width: 1px;

  text-transform: uppercase;
}

.smallerHeader button {
  font-size: clamp(1.2rem, 8vw - 6rem, 1.9rem);
  padding: 0.3em 0 0.3em 0;
  width: 8em;
  margin: auto;
}

  @media (max-width: 600px) {
    .smallerHeader button {
      height: 4em;
      width: 9em;
    }

    header button {
      height: 3.5em;
      width: 9em;
    }

    header nav {
      gap: 2.3rem;
    }
  }

header button:hover {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-weight: bold;
  box-shadow: inset 0px 0px 0.9vw rgba(255,255,255,0.65);
  color: lightgrey;
}

header button:active{
  color: white;
  background: rgba(255,255,255,0.2); 
  box-shadow: inset 0px 0px 0.6vw rgba(0,0,0,0.5);
}

footer {
  margin: auto;
  text-align: center;
}

h2{
  margin-left: 5%;
  font-size: clamp(1.8rem, 2.2vw, 29rem);
}

#aboutMe {
  margin:clamp(1.4rem, 4vw + 0.5vh, 8rem);
  margin-left: clamp(1.4rem, 18vw - 5rem, 15rem);
  margin-right: clamp(1.4rem, 18vw - 5rem, 15rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

#myPicture {
  flex: 0 0 25%;
  margin-left: 1rem;
  margin-top: 0.5em;
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 0;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  overflow: hidden;
}

#myPicture img {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: -5%;
}

#aboutMeBlurb {
  margin-left: clamp(0.1rem, 3vw - 1rem, 6rem);
}

#aboutMeBlurb h2 {
  display: inline;
  margin: 0;
  margin-left: 1%;
}

#aboutMeBlurb p {
  margin: 1% 0 0 0;
  font-size: clamp(1.0rem, 1.5vw, 15rem);
}

#highlightedProjects{
  margin-bottom: clamp(2.5rem, 6vw, 15rem);
  padding-top: 1rem;
}

#projectCardDeck{
  display: flex;
  gap: 5%;
  justify-content: center;
}

.ProjectCard {
  border-color: darkgrey;
  border-width: 3rem;
  border-radius: 0.6rem;
  width: 26%;
  height: 35vw;
  border-color: black;
  border-width: 0.2rem;
  border-style: solid;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem;
}

.ProjectCard h1 {
  margin: 0;
  margin-left: 5%;
  margin-top: 1%;
  font-size: clamp(1.1rem, 2.7vw, 29rem);
}

.ProjectCard p {
  margin: 0;
  width: 90%;
  font-size: clamp(0.9rem, 1.7vw, 18rem);
  margin-left: 5%;
  margin-top: 1%;
}

.CardImage {
  width: 90%;
  height: 65%;
  border-radius: 0.4rem;
  box-sizing: border-box;
  border-width: 0.1rem;
  border-style: solid;
  margin-left: 5%;
  margin-top: 5%;
  background: gray;
  overflow: hidden;
}

.CardImage img {
  width: 100%;
}

#workExperience{
  padding-top: 1rem;
}

#experiences {
  box-sizing: border-box;
  width: 80%;
  margin: 3rem 0 3rem 10%;
}

#experiences h3 {
  font-size: clamp(1.3rem, 1.9vw, 29rem);
  display: inline-block;
  margin: 0;
}

#experiences h4 {
  display: inline-block;
  position: absolute;
  padding-top: 0.4rem;
  right: 10%;
  margin: 0;
}

#experiences p{
  font-size:  clamp(1.1rem, 1.7vw, 29rem);;
}