html, body {
      font-family: system-ui, sans-serif;
      margin: 0;
      padding: 0;
      /*box-sizing: border-box;*/
      font-size: 2vmin;
      background: white;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header {
  z-index: 900;
  position: sticky;
  top: 0;
  background: black;
  color: #fff;
  padding: 0 5vw;
  margin: 0;
  text-align: center;
  overflow: auto;
  transition:0.2s all ease;
}

.smallerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  padding-bottom: 0.3rem 5vw;
  padding-top: -10vw;
}

/*@media (max-width: 800px) {
  .smallerHeader {
    flex-direction: column;
  }
}*/

header:hover{
  box-shadow: 0px 0px 2vw rgba(0,0,0,0.5);
}

header h1 { 
  display: inline-block;
  box-sizing: border-box;
  font-size: 2.5rem;
  padding: 0.8em 0 0.4em 0;
  margin: 0;
}

.smallerHeader h1 {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: clamp(1.8rem, 10vw - 6rem, 2.3rem);

  position: relative;
  top: -0.07rem;
}

header nav {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 1em;
}


header button {
  position: relative;
  border-radius:0.4em;
  position:relative;
  background:rgba(255,255,255,0); 
  padding: 0.5em;
  margin: 0 0 0.35em 0;
  width: 8em;
  box-shadow:0px 0px 0px 0px #B8B8B8;
  box-sizing: border-box;
  font-size : clamp(1.4rem, 1vw + 0.5vh, 2rem);
  font-weight: 300;
  color:#777;

  cursor:pointer;
  transition:0.1s all ease;

  border-style: solid;
  border-color: transparent;
  border-width: 1px;

  text-transform: uppercase;
}

.smallerHeader button {
  font-size: clamp(1.2rem, 8vw - 6rem, 1.9rem);
  padding: 0.3rem 0 0.3rem 0;
  width: 8em;
  margin: auto;
}

  @media (max-width: 600px) {
    .smallerHeader button {
      height: 4em;
      width: 9em;
    }

    header button {
      height: 3.5em;
      width: 9em;
    }

    header nav {
      gap: 2.3rem;
    }
  }

header button:hover {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-weight: bold;
  box-shadow: inset 0px 0px 1rem rgba(255,255,255,0.65);
  color: lightgrey;
}

header button:active{
  color: white;
  background: rgba(255,255,255,0.2); 
  box-shadow: inset 0px 0px 1rem rgba(0,0,0,0.5);
}

footer {
  margin: auto;
  text-align: center;
}