section {
/*  width: 70%;
  padding: 2%;
  margin: auto;
  margin-top: 3%;
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.3rem;
  box-sizing: border-box;
  background-color: #F2F2F2;*/
  width: 80%;
  margin: auto;
  /*margin-top: 10vh;*/
  padding: 4rem;
}

h1 {
  padding: 0;
  margin: 0;
  /*padding-top: 0.4rem;*/
  line-height: 0.9;
  display: block;
  text-align: center;
}

h2 {
  padding: 0;
  margin: 0;
}

.GameTitleImage {
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  margin-top: 1.4rem;
  border-style: solid;
  border-width: 0.3rem;;
  border-radius: 1rem;
  aspect-ratio: 3.6/1;
  overflow: hidden;
  margin-bottom: 1.4rem;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.InfoBlock {
  background-color: lightgrey;
  margin: 1% 0 1% 0;
  padding: 1%;
  border-radius: 1rem;
  border-style: solid;
}

.InfoBlock p {
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1.2rem;
}

.InfoBlock h2 {
  margin: 0 0 0rem 0.4rem;
}

.RoleOnGame {
  width: 100%;
}

ul {
  padding: 0;
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 2%;
}

li{
  padding: 1%;
  margin: 0;
}