h2{
  margin-left: 5%;
  font-size: clamp(1.8rem, 2.2vw, 29rem);
}



#chapterList ul {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 50vh;
  left: 7vw;
  transform: translate(0, -40%);
  list-style-type: none;
  font-size: clamp(3rem, 2.2vw, 29rem);
  font-weight: 500;
}

#chapterList li {
  margin-bottom: 2em;
}

#sideLayout {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  /*gap: 50vh;*/
  /*margin-top: 50vh;*/
  margin-left: 37vw;
  margin-right: 0.5vw;
  /*background-color: blueviolet;*/
}

.centredContent {
  display: block;
} 

/*BLURRING BACKGROUND*/
/*#TestBox {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-image: url(../images/Transparent-Texture.webp);
  z-index: 20;
}*/




/*About Me section*/
#aboutMe {
  position: relative;
  margin-top: 5vh;
  display: flex;
  gap: 1vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myPicture {
  width: 38%;
  aspect-ratio: 1 / 1;
  padding: 0;
  box-sizing: border-box;
  border-radius: 1rem;
  border-color: black;
  border-width: 0.2rem;
  border-style: solid;
  overflow: hidden;
  z-index: 2;
}

#myPicture img {
  position: relative;
  display: block;
  padding: 0;
  /*margin: 0;*/
  width: 100%;
  /*margin-top: -5%;*/
  -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);

}

#aboutMeBlurb {
  display: block;
  width: 90%;
  font-size: clamp(1.7rem, 1.5vw, 15rem);
  font-weight: 300;
  z-index: 2;
  /*Maybe ^?*/
}

.shape {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /*filter: blur(1px);*/
}



/*Highlighted projects*/
#highlightedProjects{
  background-color: green;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  gap: 2rem;
  align-items: stretch;
}

#projectCardDeck{
  display: flex;
  gap: 5%;
  justify-content: center;
}

.ProjectCard {
  aspect-ratio: 1/1.4;
  padding: 1% 1% 0.2% 1%;
  border-width: 3%;
  border-radius: 3%;
  border-color: black;
  border-style: solid;
  overflow: hidden;
  /*box-shadow: 0.5rem 0.5rem;*/
}

.ProjectCard:hover {
  background-color: #F2F2F2;
/*  position: relative;
  left: 0.5rem;
  top: 0.5rem;*/
  box-shadow: none;
}

.ProjectCard h1 {
  margin: 0;
  margin-left: 1%;
  margin-top: 1%;
  font-size: clamp(1.1rem, 2vw, 29rem);
}

.ProjectCard p {
  margin: 0;
  width: 98%;
  font-size: clamp(0.7rem, 1.4vw, 18rem);
  margin-left: 1%;
  margin-top: 1%;
}

.CardImage {
  width: 99%;
  height: 65%;
  border-radius: 0.4rem;
  box-sizing: border-box;
  border-width: 0.1rem;
  border-style: solid;
  margin:auto;
  background: gray;
  overflow: hidden;
}

.CardImage img {
  width: 100%;
}

#VULTURCard {
  /*position: absolute;
  width: 45%;
  top: 42%; 
  left: 30%;
  transform: translate(-50%, -50%);*/
   grid-column: 1; grid-row: 1 / 3; 
}

#highlightedProjects button {
  /*position: absolute;
  background-color: blue;
  top: 83%; 
  left: 30%;
  width: 48%;
  height: 10%;
  transform: translate(-50%, -50%);
  border-radius: 0.5em;*/
   grid-column: 1; grid-row: 3; justify-self: start;
}

#TVCard {
  /*position: absolute;
  width: 29%;
  top: 26%; 
  left: 77%;
  transform: translate(-50%, -50%);*/
  grid-column: 2; grid-row: 1; 
}

#CrowdCard {
  /*position: absolute;
  width: 29%;
  top: 74%; 
  left: 77%;
  transform: translate(-50%, -50%);*/
   grid-column: 2; grid-row: 2; 
}

/*Work Experience*/
#workExperience{
  display: flex;
  justify-content: center;
  align-items: center;
}

#experiences {
  box-sizing: border-box;
  width: 80%;
}

#experiences h3 {
  font-size: clamp(1.3rem, 1.9vw, 29rem);
  display: inline-block;
  margin: 0;
}

#experiences h4 {
  display: inline-block;
  position: absolute;
  padding-top: 0.4rem;
  right: 10%;
  margin: 0;
}

#experiences p{
  font-size:  clamp(1.1rem, 1.7vw, 29rem);;
}