h2{
  margin-left: 5%;
  font-size: clamp(1.8rem, 2.2vw, 29rem);
}

#chapterList ul {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 50vh;
  left: 7vw;
  transform: translate(0, -40%);
  list-style-type: none;
  font-size: clamp(3rem, 2.2vw, 29rem);
  font-weight: 500;
}

#chapterList li {
  margin-bottom: 2em;
}

#sideLayout {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  /*gap: 50vh;*/
  /*margin-top: 50vh;*/
  margin-left: 37vw;
  margin-right: 0.5vw;
  /*background-color: blueviolet;*/
}

.centredContent {
  display: block;
} 


/*About Me section*/
#aboutMe {
  position: relative;
  margin-top: 5vh;
  background-color: white;
  display: flex;
  gap: 1vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myPicture {
  width: 38%;
  aspect-ratio: 1 / 1;
  padding: 0;
  box-sizing: border-box;
  border-radius: 1rem;
  border-color: black;
  border-width: 0.2rem;
  border-style: solid;
  overflow: hidden;
  z-index: 2;
}

#myPicture img {
  position: relative;
  display: block;
  padding: 0;
  /*margin: 0;*/
  width: 100%;
  /*margin-top: -5%;*/

}

#aboutMeBlurb {
  display: block;
  width: 90%;
  font-size: clamp(1.7rem, 1.5vw, 15rem);
  font-weight: 300;
  z-index: 2;
  /*Maybe ^?*/
}

.shape {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /*filter: blur(1px);*/
}

/*Highlighted projects*/
#highlightedProjects{
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectCardDeck{
  display: flex;
  gap: 5%;
  justify-content: center;
}

.ProjectCard {
  width: 30%;
  aspect-ratio: 1/1.4;
  padding: 1% 1% 0.2% 1%;
  border-width: 3rem;
  border-radius: 0.6rem;
  border-color: black;
  border-width: 0.3rem;
  border-style: solid;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem;
}

.ProjectCard:hover {
  background-color: #F2F2F2;
  position: relative;
  left: 0.5rem;
  top: 0.5rem;
  box-shadow: none;
}

.ProjectCard h1 {
  margin: 0;
  margin-left: 1%;
  margin-top: 1%;
  font-size: clamp(1.1rem, 2vw, 29rem);
}

.ProjectCard p {
  margin: 0;
  width: 98%;
  font-size: clamp(0.7rem, 1.4vw, 18rem);
  margin-left: 1%;
  margin-top: 1%;
}

.CardImage {
  width: 99%;
  height: 65%;
  border-radius: 0.4rem;
  box-sizing: border-box;
  border-width: 0.1rem;
  border-style: solid;
  margin:auto;
  background: gray;
  overflow: hidden;
}

.CardImage img {
  width: 100%;
}


/*Work Experience*/
#workExperience{
  display: flex;
  justify-content: center;
  align-items: center;
}

#experiences {
  box-sizing: border-box;
  width: 80%;
}

#experiences h3 {
  font-size: clamp(1.3rem, 1.9vw, 29rem);
  display: inline-block;
  margin: 0;
}

#experiences h4 {
  display: inline-block;
  position: absolute;
  padding-top: 0.4rem;
  right: 10%;
  margin: 0;
}

#experiences p{
  font-size:  clamp(1.1rem, 1.7vw, 29rem);;
}