:root {
  --pill-height: 13vh; 
}

@font-face {
  font-family: "Roboto", sans-serif;
}

h2{
  margin-left: 5%;
  font-size: clamp(1.8rem, 2.2vw, 29rem);
}

#chapterList {
  position: fixed;
  top: 25vh;
  left: 7vw;
  width: 30vw;

  height: 50vh;

  /*display: flex;*/
  font-size: clamp(3rem, 2.2vw, 29rem);

}

#chapterList ul {
  z-index: 50;
  position: relative;
  right: 0;

  margin: 0;
  padding: 0;
  list-style-type: none;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*font-size: clamp(3rem, 2.2vw, 29rem);*/
  font-weight: 500;
  line-height: 1;
}

#chapterPill {
  position: absolute;
  right: 5vw;
  /*top: calc(0% + 0.5em - var(--pill-height)/2);*/
  /*top: calc(50% - var(--pill-height)/2);*/
  top: calc(100% - 0.5em - var(--pill-height)/2);
  
  width: 80vw;
  height: var(--pill-height);
  /*transform: translate(-50%);*/
  
  background-color: lightsalmon;
  border-radius: 999px;
  
  z-index: 0;
  
  /* Smooth transitions when position changes */
  transition: top 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#chapterList li {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  user-select: none;
  width: fit-content;
  margin-bottom: 0;
  transition: font-weight 0.3s ease, color 0.3s ease;
  cursor: pointer;
  left: 0%;

  transition: all 0.3s ease-in-out 0s;
}

#chapterList li:hover {
  font-weight: 800;
  position: relative;
  /*transform: translate(10%);*/
  padding-left: 10%;
}


/* Optional: Style for active chapter text */
#chapterList li.active {
  transform: translate(10%);
}




#sideLayout {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  /*gap: 50vh;*/
  /*margin-top: 50vh;*/
  margin-left: 37vw;
  margin-right: 0.5vw;
  /*background-color: blueviolet;*/
}

.centredContent {
  display: block;
} 

/*BLURRING BACKGROUND*/
/*#TestBox {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-image: url(../images/Transparent-Texture.webp);
  z-index: 20;
}*/




/*About Me section*/
#aboutMe {
  position: relative;
  margin-top: 5vh;
  display: flex;
  gap: 1vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myPicture {
  width: 38%;
  aspect-ratio: 1 / 1;
  padding: 0;
  box-sizing: border-box;
  border-radius: 1rem;
  border-color: black;
  border-width: 0.2rem;
  border-style: solid;
  overflow: hidden;
  z-index: 2;
}

#myPicture img {
  position: relative;
  display: block;
  padding: 0;
  /*margin: 0;*/
  width: 100%;
  /*margin-top: -5%;*/
  -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);

}

#aboutMeBlurb {
  display: block;
  width: 90%;
  font-size: clamp(1.7rem, 1.5vw, 15rem);
  font-weight: 300;
  z-index: 2;
  /*Maybe ^?*/
}

.shape {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /*filter: blur(1px);*/
}



/*Highlighted projects*/
#highlightedProjects{
  height: 100vh;  
  display: grid;
  gap: 2%;
  column-gap: 4%;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
}

#VULTURCard,
#TVCard,
#CrowdCard{
  display: flex;
  min-height: 100%;
  overflow: visible;           /* prevents any visual bleed */
}

#VULTURCard { 
  grid-column: 1; 
  grid-row: 1 / -1; 
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

#cardStack{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 1.4rem;
  height: auto;
  max-height: 90%;
  max-width: 100%;
}

a{
  width: 92%;
}

#cardStack button {
  width: 100%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  /*background-image: url(../images/Transparent-Texture.webp);*/
  box-sizing: border-box;
  box-shadow: 0.3rem 0.3rem 0.9rem -0.4rem;
  color:black;
  background-color: white;

  cursor:pointer;
  border-width: 0;
  border-radius: 1rem;

  text-transform: uppercase;
  font-size: clamp(0.7rem, 1.2vw, 10rem);
  /*font-family: "Roboto", sans-serif;
  font-weight: 400;*/
  padding: 0.4rem;

  transition: all 0.3s ease-out 0s;
}

#cardStack button:hover {
  border-color: transparent;
  /*Padding causes the parent to expand which is not what i want*/
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform: scale(1.05);
  margin-top: -0.6rem;
  margin-bottom: -0.6rem;
  font-weight: 800;
}

#TVCard     { 
  grid-column: 2; 
  grid-row: 1; 
  align-items: end;
  justify-content: start;
}

#CrowdCard  { 
  grid-column: 2; 
  grid-row: 2; 
  align-items: start;
  justify-content: start;
}

.ProjectCard {
  cursor: none;

  aspect-ratio: 1/1.4;
  /* fit inside the grid cell */
  max-width: 92%;
  max-height: 92%;
  /* let the browser pick the limiting dimension */
  width: auto;
  height: auto;  

  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  border-radius: 1rem;
  border-width: 0rem;
  box-sizing: border-box;
  box-shadow: 0.3rem 0.3rem 0.9rem -0.4rem;

  background-color: white;

  transition: all 0.3s ease-out 0s;
}

.ProjectCard:hover {
  transform: scale(1.05);
  position: relative;
  z-index: 10;
}

.ProjectCard h1 {
  margin: 0;
  margin-left: 1%;
  margin-top: 1%;
  font-size: clamp(0.1rem, 1.4rem, 10rem);
}

.ProjectCard .CardBlurb {
  user-select: none;
  margin: 0;
  width: 98%;
  max-height: 22%;
  font-size: clamp(0.7rem, 1rem, 10rem);
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 100%;
  scrollbar-width: thin; 
  overflow-y: auto;
}

.ProjectCard p {
  margin: 0;
}

.CardImage {
  width: 99%;
  height: 65%;
  border-radius: 0.8rem;
  box-sizing: border-box;
  border-width: 0rem;
  border-style: solid;
  margin:auto;
  background: gray;
  overflow: hidden;
}

.CardImage img {
  width: 100%;
}

#VULTURCard .ProjectCard h1 {
  font-size: clamp(1rem, 2.3rem, 30rem);;
}

#VULTURCard .ProjectCard p {
  font-size: clamp(0.3rem, 0.6vh + 0.6vw + 0.3rem, 2rem);
}



/*Work Experience*/
#workExperience{
  display: flex;
  justify-content: center;
  align-items: center;

  /*background-color: red;*/
}

#experiences {
  display: flex;
  flex-direction: column;
  gap: 5vh;

  cursor: ns-resize;
  box-sizing: border-box;
  width: 86%;
  max-height: 80%;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  background-color: white;

  /*border-color: black;*/
  /*border-style: solid;*/
  border-radius: 2%;
  border-width: 2px;

  box-shadow: 0 -10vh 10vh -15vh black inset;
  padding: 6% 3% 6% 3%;
}

#experiences::before {
  content: "";
  position: absolute;
  inset: 0;

  pointer-events: none;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  mask-image: linear-gradient(
    to bottom,
    transparent, 
    transparent,
    transparent,
    transparent,
    black
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent, 
    transparent,
    transparent,
    transparent,
    black
  );
}

.experience {
  display: grid;
  grid-template-areas: 
  "JobTitle JobTitle Company"
  "Blurb    Blurb    Blurb";
  /*margin-bottom: 5%;*/
}

#experiences h3 {
  user-select: none;
  grid-area: JobTitle;

  align-self: end;
  text-transform: uppercase;
  font-size: clamp(1.3rem, 1.8vw, 1.5rem);
  font-weight: 600;
  margin: 0;
  font-style: italic;
}

#experiences h4 {
  align-self: end;
  justify-self: end;
  grid-area: Company;
  display: inline-block;
  margin: 0;
  margin-bottom: 1%;
  text-transform: uppercase;
  font-size: clamp(0.4rem, 1vw + 0.4rem, 1.2rem);
  font-weight: 600;
  /*font-style: italic;*/
}

#experiences p{
  user-select: none;
  grid-area: Blurb;
  margin: 1%;
  margin-right: 0;
  align-self: start;
  font-size:  clamp(0.4rem, 0.8vw + 0.4rem, 3rem);
}

@media (max-width: 1200px) {
  .experience {
    grid-template-areas: 
    "JobTitle"
    "Company"
    "Blurb";
  }

  #experiences h4 {
    align-self: start;
    justify-self: start;
    grid-area: Company;
    display: inline-block;
    margin: 0;
    margin-bottom: 1%;
  }
 }
