h2{
  margin-left: 5%;
  font-size: clamp(1.8rem, 2.2vw, 29rem);
}

#chapterList {
  position: fixed;
  display: flex;
  top: 25vh;
  left: 7vw;
}

#chapterPill {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 6rem;

  transform: translate(0, -50%);

  background-color: lightsalmon;
  border-radius: 999px;

  z-index: 0;           /* behind text */
}

#chapterList ul {
  z-index: 50;
  margin: 0;
  padding: 0;
  
  list-style-type: none;
  font-size: clamp(3rem, 2.2vw, 29rem);
  font-weight: 500;
}

#chapterList li {
  margin-bottom: 2em;
}

#sideLayout {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  /*gap: 50vh;*/
  /*margin-top: 50vh;*/
  margin-left: 37vw;
  margin-right: 0.5vw;
  /*background-color: blueviolet;*/
}

.centredContent {
  display: block;
} 

/*BLURRING BACKGROUND*/
/*#TestBox {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-image: url(../images/Transparent-Texture.webp);
  z-index: 20;
}*/




/*About Me section*/
#aboutMe {
  position: relative;
  margin-top: 5vh;
  display: flex;
  gap: 1vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myPicture {
  width: 38%;
  aspect-ratio: 1 / 1;
  padding: 0;
  box-sizing: border-box;
  border-radius: 1rem;
  border-color: black;
  border-width: 0.2rem;
  border-style: solid;
  overflow: hidden;
  z-index: 2;
}

#myPicture img {
  position: relative;
  display: block;
  padding: 0;
  /*margin: 0;*/
  width: 100%;
  /*margin-top: -5%;*/
  -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);

}

#aboutMeBlurb {
  display: block;
  width: 90%;
  font-size: clamp(1.7rem, 1.5vw, 15rem);
  font-weight: 300;
  z-index: 2;
  /*Maybe ^?*/
}

.shape {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /*filter: blur(1px);*/
}



/*Highlighted projects*/
#highlightedProjects{
  height: 100vh;  
  display: grid;
  gap: 2%;
  column-gap: 4%;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
}

#VULTURCard,
#TVCard,
#CrowdCard{
  display: flex;
  overflow: hidden;           /* prevents any visual bleed */
}

#VULTURCard { 
  grid-column: 1; 
  grid-row: 1 / -1; 
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

#cardStack{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 1rem;
  height: auto;
  max-height: 90%;
  max-width: 100%;
}

a{
  width: 92%;
}

#cardStack button {
  width: 100%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  /*background-image: url(../images/Transparent-Texture.webp);*/
  box-sizing: border-box;
  color:black;

  cursor:pointer;
  transition:0.1s all ease;

  border-style: solid;
  border-color: black;
  border-radius: 1rem;

  text-transform: uppercase;
  font-size: clamp(0.7rem, 1.2vw, 10rem);
  /*box-shadow: 0 -0.1vh 1.5vh -0.5vh rgba(0, 0, 0, 0.3) inset;*/

  transition: border-color 0.3s ease-out 0s;
  transition: font-weight 0.3s ease-out 0s;
}

#cardStack button:hover {
  border-color: transparent;
}

#TVCard     { 
  grid-column: 2; 
  grid-row: 1; 
  align-items: end;
  justify-content: start;
}

#CrowdCard  { 
  grid-column: 2; 
  grid-row: 2; 
  align-items: start;
  justify-content: start;
}

.ProjectCard {
  aspect-ratio: 1/1.4;
  /* fit inside the grid cell */
  max-width: 92%;
  max-height: 92%;
  /* let the browser pick the limiting dimension */
  width: auto;
  height: auto;  

  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  border-radius: 1rem;
  border-color: black;
  border-style: solid;
  border-width: 0.1rem;
  overflow: hidden;
  box-sizing: border-box;
}

.ProjectCard h1 {
  margin: 0;
  margin-left: 1%;
  margin-top: 1%;
  font-size: clamp(0.7rem, 1.2vw, 10rem);
}

.ProjectCard .CardBlurb {
  margin: 0;
  width: 98%;
  max-height: 22%;
  font-size: clamp(0.7rem, 1.2vw, 10rem);
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 100%;
  scrollbar-width: thin; 
  overflow-y: auto;
}

.ProjectCard p {
  margin: 0;
}

.CardImage {
  width: 99%;
  height: 65%;
  border-radius: 0.8rem;
  box-sizing: border-box;
  border-width: 0.1rem;
  border-style: solid;
  margin:auto;
  background: gray;
  overflow: hidden;
}

.CardImage img {
  width: 100%;
}

#VULTURCard .ProjectCard h1 {
  font-size: clamp(1rem, 2.3vw, 30rem);;
}

#VULTURCard .ProjectCard p {
  font-size: clamp(0.7rem, 1.3vw, 10rem);
}



/*Work Experience*/
#workExperience{
  display: flex;
  justify-content: center;
  align-items: center;

  /*background-color: red;*/
}

#experiences {
  box-sizing: border-box;
  width: 86%;
  max-height: 80%;
  overflow-y: auto;

  /*border-color: black;*/
  /*border-style: solid;*/
  border-radius: 2%;
  border-width: 2px;

  box-shadow: 0 -10vh 10vh -15vh black inset;
  padding-bottom: 5%;
}

#experiences::before {
  content: "";
  position: absolute;
  inset: 0;

  pointer-events: none;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  mask-image: linear-gradient(
    to bottom,
    transparent, 
    transparent,
    transparent,
    transparent,
    black
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent, 
    transparent,
    transparent,
    transparent,
    black
  );
}

.experience {
  display: grid;
  grid-template-areas: 
  "JobTitle JobTitle Company"
  "Blurb    Blurb    Blurb";
  margin: 2%;
}

#experiences h3 {
  grid-area: JobTitle;
  align-self: end;
  font-size: clamp(1.3rem, 1.9vw, 29rem);
  margin: 0;
}

#experiences h4 {
  align-self: end;
  justify-self: end;
  grid-area: Company;
  display: inline-block;
  margin: 0;
  margin-bottom: 1%;
}

#experiences p{
  grid-area: Blurb;
  margin: 1%;
  margin-right: 0;
  align-self: start;
  font-size:  clamp(1.1rem, 1.7vw, 29rem);;
}

@media (max-width: 1200px) {
  .experience {
    grid-template-areas: 
    "JobTitle"
    "Company"
    "Blurb";
  }

  #experiences h4 {
    align-self: start;
    justify-self: start;
    grid-area: Company;
    display: inline-block;
    margin: 0;
    margin-bottom: 1%;
  }
 }
