html, body {
      font-family: system-ui, sans-serif;
      margin: 0;
      padding: 0;
      /*box-sizing: border-box;*/
      font-size: 2vmin;
      background: white;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.smallerHeader h1 {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: clamp(1.8rem, 10vw - 6rem, 2.3rem);

  position: relative;
  top: -0.07rem;
}

header {
  /*margin: 1em;*/
  position: fixed;
  top: 1em;
  left: 1em;
}

header nav {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0.5em;
  /*justify-content: center;*/
}

header button {
  position: relative;
  border-radius:0.4em;
  position:relative;
  padding: 0.4em;
  width: 7em;
  /*box-shadow: inset 0.4em 1em 1em rgb(0 0 0 / 15%);*/
  background-color: white;
  box-sizing: border-box;
  font-size : clamp(1.4rem, 1vw + 0.5vh, 2rem);
  font-weight: 300;
  color:black;

  cursor:pointer;
  transition:0.1s all ease;

  border-style: solid;
  border-color: transparent;
  border-width: 1px;

  text-transform: uppercase;
}

.smallerHeader button {
  font-size: clamp(1.2rem, 8vw - 6rem, 1.9rem);
  padding: 0.3rem 0 0.3rem 0;
  width: 8em;
  margin: auto;
}

  @media (max-width: 600px) {
    .smallerHeader button {
      height: 4em;
      width: 9em;
    }

    header button {
      height: 3.5em;
      width: 9em;
    }

    header nav {
      gap: 2.3rem;
    }
  }

header button:hover {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-weight: bold;
  box-shadow: inset 0px 0px 1rem rgba(255,255,255,0.65);
  color: lightgrey;
}

header button:active{
  color: white;
  background: rgba(255,255,255,0.2); 
  box-shadow: inset 0px 0px 1rem rgba(0,0,0,0.5);
}

section {
  /*transform: translate(0, 50vh);*/
  background-color: darkred;
  height: 100vh;
}

footer {
  margin: auto;
  text-align: center;
}