html, body {
      font-family: system-ui, sans-serif;
      margin: 0;
      padding: 0;
      /*box-sizing: border-box;*/
      font-size: 2vmin;
      background: rgb(0, 0, 0);
      /*background-color: darkred;*/
    background-image: url(https://ready.so/images/Sand-Texture.webp);
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header {
  position: fixed;
  margin: 0;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 100;
  border-radius: 1em;
  margin: 1em;
  padding: 0.2em;
}

header nav {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0.5em;
  align-items: center;
  /*margin: 1em;*/
  padding: ;
}

header button {
  position: relative;
  border-radius:0.4em;
  padding: 0.4em;
  width: 7em;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  /*background-image: url(../images/Transparent-Texture.webp);*/
  box-sizing: border-box;
  font-size : clamp(1.4rem, 1vw + 0.5vh, 2rem);
  color:black;

  cursor:pointer;
  transition: all 0.3s ease-out 0s;

  border-style: solid;
  border-color: transparent;
  border-width: 1px;

  text-transform: uppercase;
}

#NameButton{
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: clamp(1.1rem, 1.2vw, 1.6rem);
  line-height: 1.1;
  max-width: 14ch; /* OPTIONAL but helpful */
  flex: 0 0 auto;
  margin: 0;
  height: 100%;
}

  @media (max-width: 600px) {
    header {
      width: 100%;
    }
    header nav{
      /*margin-right: 20vw;*/
      justify-content: space-between;
    }
    a {
      width: 35vw;
    }
    header button {
      width: 100%;
      height: 100%;
    }
    #NameButton{
      max-width: 6ch;
      flex: 0 0 auto;
      text-align: left;
      width: 100%;
    }

  }

button:hover {
  border-style: solid;
  border-color: white;
  font-weight: bold;
  /*box-shadow: inset 0px 0px 1rem rgba(255,255,255,0.65);
  color: lightgrey;*/
}

button:active{
  color: white;
  background: rgba(255,255,255,0.2); 
  /*box-shadow: inset 0px 0px 1rem rgba(0,0,0,0.5);*/
}

section {
  position: relative;
  /*transform: translate(0, 50vh);*/
  height: 100vh;
}

footer {
  margin: auto;
  text-align: center;
}