:root {
  --font-weight-increment: 0.4s; 
}

#blur {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	pointer-events: none; 
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#title {
	position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 8rem; 
  margin-left: 5vw; 
  margin-top: 15vh;
  font-family: "Roboto Flex", sans-serif;
  font-variation-settings: 'wdth' 150, 'wght' 900;
  user-select: none;
  will-change: transform;
}

#title span {
	line-height: 1;
  animation: wave 10s ease-in-out infinite;
  will-change: transform;
}

#title span:nth-child(1) {
  /*padding-left: 0;*/
  animation-delay: 0s;
}

#title span:nth-child(2) {
  /*padding-left: 1rem;*/
  animation-delay: var(--font-weight-increment);
}

#title span:nth-child(3) {
  /*padding-left: 2rem;*/
  animation-delay: calc(var(--font-weight-increment) * 2);
}

#title span:nth-child(4) {
  /*padding-left: 3rem;*/
  animation-delay: calc(var(--font-weight-increment) * 3);
}

#title span:nth-child(5) {
  /*padding-left: 4rem;*/
  animation-delay: calc(var(--font-weight-increment) * 4);
}

#title a {
	text-decoration: none;
	color: maroon;
	animation: linkWave 10s ease-in-out infinite;
}

#title a:hover {
  /*padding-left: 4rem;*/
  color: red;
}

@keyframes wave {
  0%, 100% {
    transform: translateX(0);
    /*font-weight: 900;*/
    font-variation-settings: 'wdth' 150, 'wght' 900;
  }
  50% {
    transform: translateX(10vw);
    /*font-weight: 300;*/
    font-variation-settings: 'wdth' 50, 'wght' 300;
  }
}

@keyframes linkWave {
  0%, 100% {
    transform: translateX(0);
    /*font-weight: 900;*/
    font-variation-settings: 'wdth' 150, 'wght' 300;
  }
  50% {
    transform: translateX(10vw);
    /*font-weight: 300;*/
    font-variation-settings: 'wdth' 50, 'wght' 900;
  }
}


#socials {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	margin-left: auto;
	margin-right: 5vw;
	gap: 3rem;
	height: 70vh;
	width: auto;
	max-width: 60vw;
	padding-top: 15vh;
	padding-bottom: 15vh;
}

.socialMedia {
	position: relative;
	z-index: 50;
	display: flex;
	flex-direction: column;
	/*aspect-ratio: 1/1;*/
	min-width: 0; /* Add minimum size */
	min-height: 0; /* Add minimum size */
	overflow: hidden;
	text-align: center;
	text-decoration: none; /* Removes underline */
	align-items: center;
	justify-content:center;

	color: inherit; 
	background-color: white;

	border-style: solid;
	border-radius: 5%;
	border-width: 0rem;
	box-shadow: 0.3rem 0.3rem 0.9rem -0.4rem;
	will-change: transform;
	transition: all 0.3s ease-out 0s;
}

.socialMedia:hover {
  transform: scale(1.05);
  transform: rotate(5deg);
  position: relative;
  z-index: 10;
  box-shadow: 0.3rem 0.3rem 2rem -0.4rem;
}

.socialMedia img {
	aspect-ratio: 1/1;
	max-width: 60%;
	max-height: 60%;
}

.socialMedia h1 {
	margin: 0;
}

.socialMedia.elevated {
	z-index: 100;
}

@media (max-width: 900px), (orientation: portrait) {
	#socials {
		position: absolute;
		margin: 0;
		right: 20vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    width: 30%; /* Adjust as needed */
    height: 100%;
  }

  #title {
  	margin-top: 50vh;
  	transform: translateY(-50%);
  }
}

